.auction_pic {
    margin-right: 15px;
}

.auction_pic:hover {
    cursor: pointer;
    filter: opacity(.9);
}

.owner-title {
    margin-right: 10px;
    color: #777777;
}

.owner-link {
    color: #007bff;
    text-decoration: none;
}