.gallery {
    padding: 0 8px;
}

.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 8px;
    margin-left: 8px;
}

.gallery .pics:hover {
    filter: opacity(.9);
}

@media(max-width: 1000px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}

@media(max-width: 500px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}